include ./yadda.pug

block content
    -console.log(yaddas)
    if yaddas.length
        each yadda in yaddas
            +yadda(yadda)
    else if users.length
            include users
    else
        if search 
            p No results 
        else   
            p No yaddas

         
    