include ./yadda.pug

block content
    if yaddas.length
        each yadda, i in yaddas
            if i === 4
                include yaddaSponsored
            +yadda(yadda)

    else if users.length
            include users
    else
        if search 
            p No results 
        else   
            p No yaddas

         
    