block content
    if yaddas.length
        each yadda in yaddas
            include yadda
    else if users.length
            include users
    else
        if search 
            p No results 
        else   
            p No yaddas

         
    