extends layout
block content
  main.mainpage
    section.profilementions
       include partials/profileBox

    section.followfeed
      h1
        | Followers of
        a(href=`/profile/${profile._id}`) 
          = `@${profile.username}`
        = `(${profile.followers.length})`
        
      include partials/users
       
