extends layout
include partials/addYadda.pug

block content
  main.mainpage
    section.profilementions
      include partials/mentionsBox
    section.feed
      include partials/search
      +addYadda
      if user.following.length
        if all
          .filter
            p Show 
              span.active all
              span  | |  
            a(href="/") following 
        else
          .filter
            p Show 
            a(href="/all") all
            p  | |
            p.active following
      include partials/feed
  


