extends layout
include partials/addYadda.pug

block content
  main.mainpage
    section.profilementions
      include partials/mentionsBox
    section.feed
      include partials/search
      +addYadda
      include partials/feed
  


