doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', typedot="module")
    script(src='/scripts/frontpage/index.js')  

  body
    header
      nav
        a(href=`/`).logo
          img(src='/../images/yadda-dark.png' alt='')
        
        .navmiddle
          ul
            li
              a(href='/user/register') Register
            li
              a(href='/user/login') Login
    block content
