extends layout
block content
  include partials/messages
  main.mainpage
    section.profilementions
      include partials/profileBox
      //- .profilebox
      //-   .pPicture
      //-     img(src='images/placeholder.jpg')
      //-   .profileName
      //-     h2 Bailey Johnson
      //-     h3 @baileydrinks
      //-   .followingfollowers
      //-     .following
      //-       h4 Following
      //-       h5 731
      //-     .followers
      //-       h4 Followers
      //-       h5 121
    section.settings
      h1 General Settings
      .settingsbox
        h2 Theme
        form(action='/theme' method='post')
          input#dark(type='radio' name='theme' value='dark' checked=user.darkTheme)
          label(for='dark') Dark
          input#light(type='radio' name='theme' value='light' checked=!user.darkTheme)
          label(for='light') Light
          br
          .buttonright
            button(type='submit' name='button') Confirm
      .settingsbox
        h2 Name
        form(action='/name' method='post')
          h3 Firstname
          input(type='text' name='firstname' placeholder='Enter your firstname' value=`${user.firstnameCap}`)
          br
          h3 Lastname
          input(type='text' name='lastname' placeholder='Enter your lastname' value=`${user.lastnameCap}`)
          br
          .buttonright
            button(type='submit' name='button') Confirm
      .settingsbox
        h2 Password
        form(action='/password' method='post')
          h3 Old password
          input(type='password' name='opassword' placeholder='Enter your old password')
          br
          h3 New password
          input(type='password' name='npassword' placeholder='Enter your new password')
          br
          h3 Confirm new password
          input(type='password' name='cpassword' placeholder='Confirm your new password')
          br
          .buttonright
            button(type='submit' name='button') Confirm
      .settingsbox
        h2 Profile picture
        form(action='/profilepic' method='post' enctype="multipart/form-data")
          label(for='myfile') Select a file:
          br
          input#myfile(type='file' name='image')
          br
          .buttonright
            button(type='submit' name='button') Confirm
