extends layout
block content
  main.mainpage
    section.profilementions
        include partialsmentionsBox
    section.feed
      .MainYadda
        .profilePicYadda
          img(src='images/profile.jpg' alt='')
          .thread
        .yaddaBox
          .yaddaUser
            a(href='#')
              h2 Skye Montgomery
            h3 @livingskye
          .yaddaText
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus ex, luctus convallis ornare rutrum, iaculis nec mauris. Donec ligula tellus, imperdiet nec amet.
          img.yaddaImg(src='images/doggo.gif' alt='')
          .yaddaTags
            a(href='#')
              span #supermario
            a(href='#')
              span #lego
            a(href='#')
              span #nintendo
            a(href='#')
              span #ad
          .yaddaInfo
            .likesandreplies
              div
                img(src='images/heart.png')
                h3 Likes (4)
              div
                img(src='images/reply.png')
                h3 Replies (2)
            .yaddaDate
              h3 2 May 2020 - 10:32PM
      .SubYadda
        .thread
        .profilePicYadda
          img(src='images/profile.jpg' alt='')
        .subyaddaBox
          .yaddaUser
            a(href='#')
              h2 Skye Montgomery
            h3 @livingskye
          .yaddaText
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus ex, luctus convallis ornare rutrum, iaculis nec mauris. Donec ligula tellus, imperdiet nec amet.
          img.yaddaImg(src='images/doggo.gif' alt='')
          .yaddaTags
            a(href='#')
              span #supermario
            a(href='#')
              span #lego
            a(href='#')
              span #nintendo
            a(href='#')
              span #ad
          .yaddaInfo
            .likesandreplies
              div
                img(src='images/heart.png')
                h3 Likes (4)
              div
                img(src='images/reply.png')
                h3 Replies (2)
            .yaddaDate
              h3 2 May 2020 - 10:32PM
      .SubYadda
        .thread
        .profilePicYadda
          img(src='images/profile.jpg' alt='')
        .subyaddaBox
          .yaddaUser
            a(href='#')
              h2 Skye Montgomery
            h3 @livingskye
          .yaddaText
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus ex, luctus convallis ornare rutrum, iaculis nec mauris. Donec ligula tellus, imperdiet nec amet.
          img.yaddaImg(src='images/doggo.gif' alt='')
          .yaddaTags
            a(href='#')
              span #supermario
            a(href='#')
              span #lego
            a(href='#')
              span #nintendo
            a(href='#')
              span #ad
          .yaddaInfo
            .likesandreplies
              div
                img(src='images/heart.png')
                h3 Likes (4)
              div
                img(src='images/reply.png')
                h3 Replies (2)
            .yaddaDate
              h3 2 May 2020 - 10:32PM
      .HighlightYadda
        .profilePicYadda
          img(src='images/profile.jpg' alt='')
        .yaddaBox
          .yaddaUser
            a(href='#')
              h2 Skye Montgomery
            h3 @livingskye
          .yaddaText
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus ex, luctus convallis ornare rutrum, iaculis nec mauris. Donec ligula tellus, imperdiet nec amet.
          img.yaddaImg(src='images/doggo.gif' alt='')
          .yaddaTags
            a(href='#')
              span #supermario
            a(href='#')
              span #lego
            a(href='#')
              span #nintendo
            a(href='#')
              span #ad
          .yaddaInfo
            .likesandreplies
              div
                img(src='images/heart.png')
                h3 Likes (4)
              div
                img(src='images/reply.png')
                h3 Replies (2)
            .yaddaDate
              h3 2 May 2020 - 10:32PM
      .SubYadda
        .thread
        .profilePicYadda
          img(src='images/profile.jpg' alt='')
        .subyaddaBox
          .yaddaUser
            a(href='#')
              h2 Skye Montgomery
            h3 @livingskye
          .yaddaText
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus ex, luctus convallis ornare rutrum, iaculis nec mauris. Donec ligula tellus, imperdiet nec amet.
          img.yaddaImg(src='images/doggo.gif' alt='')
          .yaddaTags
            a(href='#')
              span #supermario
            a(href='#')
              span #lego
            a(href='#')
              span #nintendo
            a(href='#')
              span #ad
          .yaddaInfo
            .likesandreplies
              div
                img(src='images/heart.png')
                h3 Likes (4)
              div
                img(src='images/reply.png')
                h3 Replies (2)
            .yaddaDate
              h3 2 May 2020 - 10:32PM
