extends layout
include partials/yadda.pug
include partials/addYadda.pug

block content
  main.mainpage
    section.profilementions
        include partials/mentionsBox
    section.feed
        each parentYadda in parentYaddas
          +yadda(parentYadda, 'main')
        //- +yadda(yadda, 'main')
        +yadda(yadda, 'highlight')
        +addYadda(yadda._id)
        each subYadda in subYaddas
          +yadda(subYadda, 'sub')
