body,
html {
  margin: 0;
  font-family: Segoe UI;
  background: #222;
  height: 100%;
  color: #cacaca;
}
a {
  color: #cacaca;
}

hr {
  border-color: #c54e4f;
}

.yaddaUser a,
.settingsbox button,
.followingfollowers a,
nav ul li a,
.followbox a,
.likesandreplies h3,
.writingSearch input:nth-of-type(2) {
  color: #cacaca;
}

.mentionsbox,
.searchbar,
.writingYadda,
.sponsoredYadda,
.profilebox,
.settingsbox,
.followbox,
.HighlightYadda {
  background: #191919;
}

input,
textarea {
  background: #222;
  color: #cacaca;
}
