body,
html {
  margin: 0;
  font-family: Segoe UI;
  background: #ffffff;
}

nav {
  background: #c44f4f;
  display: flex;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 33%;
  text-align: left;
}

.logo img {
  width: 90px;
  padding-left: 25px;
}

.navmiddle {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 33%;
  text-align: right;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: right;
  justify-content: flex-end;
}

nav ul li {
  padding-right: 20px;
  font-weight: 700;
  text-align: right;
}

nav ul li:last-child {
  padding-right: 35px;
  font-weight: 700;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-align: right;
}

.profilepic {
  width: 33%;
  text-align: center;
  padding-top: 20px;
}

.profilepic img {
  border-radius: 50%;
  border: 5px solid #c44f4f;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
}

.mainpage {
  width: 1035px;
  margin: 0 auto;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}

.profilementions {
  width: 280px;
}

.profilebox {
  width: 280px;
  background: #efefef;
  padding-bottom: 20px;
  border-radius: 5px;
  position: fixed;
}

.pPicture {
  text-align: center;
  padding-top: 20px;
}

.pPicture img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  border-radius: 50%;
  border: 7px solid #c44f4f;
  background-size: cover;
  background-position: center center;
}

.profileName {
  width: 220px;
  margin: 0 auto;
}

.profileName h2 {
  font-size: 22px;
  margin: 0;
  margin-top: 10px;
  font-weight: 700;
}

.profileName h3 {
  margin: 0;
  color: #c44f4f;
  font-size: 18px;
  font-weight: 700;
}

.followingfollowers {
  width: 220px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.followingfollowers h4 {
  margin: 0;
  margin-top: 20px;
  font-size: 15px;
}

.followingfollowers h5 {
  margin: 0;
  font-size: 30px;
}

.feed {
  width: 740px;
  margin-bottom: 15px;
}

.searchbar {
  width: 740px;
  height: 62px;
  background: #efefef;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar button {
  width: 100px;
  height: 45px;
  background: #c44f4f;
  color: #fff;
  border-radius: 0px 5px 5px 0px;
  border: 0px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.writingSearch {
  width: 614px;
  margin: 0 auto;
  background: #ffffff;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.writingSearch div {
  width: 55px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c44f4f;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  font-weight: 700;
}

.writingSearch input {
  width: 644px;
  height: 45px;
  border: 0px;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}

.writingSearch {
  width: 714px;
  margin: 0 auto;
  background: #ffffff;
  height: 45px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.writingSearch label {
  width: 55px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #c44f4f;
  border-radius: 5px 0px 0px 5px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;

  color: #fff;
}

.writingSearch input:nth-of-type(2) {
  width: 644px;
  height: 45px;
  border: 0px;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  font-family: Segoe UI;
  font-size: 15px;
  font-weight: 700;
  color: #000;
}
.writingSearch input:nth-of-type(1):checked ~ label:before {
  content: "#";
}
.writingSearch input:nth-of-type(1):not(:checked) ~ label:before {
  content: "@";
}
.writingSearch input:nth-of-type(1) {
  display: none;
}
.hidden {
  display: none;
}

.writingYadda {
  width: 740px;
  padding: 12px;
  box-sizing: border-box;
  background: #efefef;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .writingYaddaInner {
  width: 714px;
  margin: 0 auto;
  height: 80px;
  background: #ffffff;
  border-radius: 5px;
} */

.writingYaddaInner textarea {
  width: 694px;
  height: 60px;
  padding: 10px;
  resize: none;
  border: 0px;
  border-radius: 5px;
  font-family: Segoe UI;
  font-size: 16px;
}

.tagsandsend {
  width: 714px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.addtags {
  width: 528px;
  height: 27px;
  background: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addtags input {
  width: 518px;
  height: 17px;
  /* background: #fff; */
  border-radius: 5px;
  border: 0;
  padding: 5px;
  font-family: Segoe UI;
  font-family: 15px;
  font-weight: 700;
}

.postYadda {
  display: flex;
  width: 160px;
  justify-content: space-between;
}

.postYadda img {
  height: 27px;
  width: 27px;
}

.postYadda button {
  width: 120px;
  height: 27px;
  border: 0;
  background: #c44f4f;
  border-radius: 5px;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
}

.Yadda {
  width: 740px;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.sponsoredYadda {
  width: 740px;
  background: #efefef;
  border-radius: 5px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-around;
}

.profilePicYadda {
  width: 75px;
  padding-top: 10px;
}

.profilePicYadda img {
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: 3px solid #c44f4f;
  background-size: cover;
}

.yaddaBox {
  width: 623px;
}

.yaddaUser {
  padding-top: 25.5px;
  padding-bottom: 29.5px;
}

.yaddaUser.parent {
  padding-top: 20px;
  padding-bottom: 20px;
}

.yaddaUser a {
  text-decoration: none;
  color: #000;
}

.yaddaUser h2 {
  margin: 0;
  font-size: 17px;
  display: inline;
}

.yaddaUser h3 {
  margin: 0;
  font-size: 15px;
  color: #c44f4f;
}

.yaddaUser span {
  font-size: 15px;
  color: #c44f4f;
  font-weight: 700;
}

.yaddaText p {
  margin: 0;
  font-size: 17px;
  margin-bottom: 10px;
}

.yaddaImg {
  width: 603px;
  border: 5px solid #c44f4f;
  margin-bottom: 5px;
  border-radius: 5px;
}

.sponsoredYadda .yaddaImg:hover {
  border: 5px solid #666;
  transition: 0.2s;
}

.yaddaTags {
  display: inline;
}

.yaddaTags a {
  text-decoration: none;
  color: #c44f4f;
}

.yaddaTags span {
  color: #c44f4f;
  font-size: 15px;
  margin-right: 10px;
  font-weight: 700;
}

.yaddaInfo {
  display: flex;
  justify-content: space-between;
  width: 623px;
  margin-top: 10px;
}

.likesandreplies {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-bottom: 20px;
}

.likesandreplies a {
  text-decoration: none;
  color: #000;
}

.likesandreplies div {
  display: flex;
  justify-content: space-between;
}

.likesandreplies h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}

.likesandreplies h3:hover {
  cursor: pointer;
}

.follow button {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 27px;
  border: 0;
  background: #c44f4f;
  font-weight: 700;
  font-size: 13px;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
.follow button.unfollow {
  background: #d9d9d9;
}

.likesandreplies img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.yaddaDate h3 {
  text-transform: uppercase;
  margin: 0;
  font-size: 15px;
  font-weight: 700;
}

.mainfront {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #ffffff;
  overflow: auto;
}

.mask {
  -webkit-mask: url("https://i.imgur.com/twbsdwZ.png");
  mask: url("https://i.imgur.com/twbsdwZ.png");
  -webkit-mask-size: auto 100% no-repeat;
  mask-size: auto 100% no-repeat;
  width: 100%;
  height: 100%;
}

.happy {
  width: 100%;
  height: 100%;
  background: url("../images/funs.jpg");
  background-size: cover;
  background-position: center;
}

.infofront h1 {
  position: absolute;
  top: 7%;
  left: 12%;
  color: #fff;
  text-shadow: 3px 3px 1px #000;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 90px;
}

.infofront h1 img {
  width: 400px;
  margin-left: 100px;
  margin-top: -30px;
}

.infofront h1 span {
  margin-left: 300px;
}

.infoboxfront {
  position: absolute;
  z-index: 2;
  top: 20%;
  right: 12%;
}

.infomentions {
  width: 350px;
}

.informationbox {
  width: 350px;
  background: #efefef;
  height: 470px;
  border-radius: 5px;
  position: fixed;
  border: 5px solid #c44f4f;
  padding: 60px 40px;
}

.infoName {
  margin: 0 auto;
}

.infoName h2 {
  font-size: 22px;
  margin: 0;
  font-weight: 700;
  color: #c44f4f;
}

.infoName h3 {
  margin: 0;
  color: #c44f4f;
  font-size: 18px;
  font-weight: 700;
}

.infoName p {
  width: 320px;
  margin: 0;
  margin-left: 30px;
  padding: 5px;
}

.infoName a {
  background: #c44f4f;
  padding: 10px 20px;
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-top: 55px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
  width: 250px;
}

.infoName a:hover {
  background: #fff;
  transition: 0.3s;
}

.loginboxfront {
  position: absolute;
  z-index: 2;
  top: 25%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 440px;
  background: #000;
}

.loginmentions {
  width: 440px;
}

.loginbox {
  width: 350px;
  background: #efefef;
  border-radius: 5px;
  position: fixed;
  padding: 60px 40px;
}

.loginbox h2 {
  color: #000;
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.loginbox label {
  font-size: 16px;
  font-weight: 700;
}

.loginbox input {
  width: 330px;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-family: Segoe UI;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.loginbox button {
  background: #c44f4f;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  width: 100px;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}

.regboxfront {
  position: absolute;
  z-index: 2;
  top: 15%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 440px;
  background: #000;
}

.regmentions {
  width: 440px;
}

.regbox {
  width: 350px;
  background: #efefef;
  border-radius: 5px;
  position: fixed;
  padding: 60px 40px;
}

.regbox h2 {
  color: #000;
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.regbox label {
  font-size: 16px;
  font-weight: 700;
}

.regbox input {
  width: 330px;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-family: Segoe UI;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.regbox button {
  background: #c44f4f;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  width: 100px;
  font-size: 16px;
  margin-top: 10px;
  color: #fff;
}

#imgButton {
  cursor: pointer;
}

div#imgPreview {
  width: 80px;
  height: 80px;
  background-size: cover;
}

.writingYadda form {
  width: 100%;
}
.writingYaddaInner {
  display: flex;
  width: 100%;
}
======= .loginbox button {
  background: #c44f4f;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  width: 100px;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

.regboxfront {
  position: absolute;
  z-index: 2;
  top: 15%;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 440px;
  background: #000;
}

.regmentions {
  width: 440px;
}

.regbox {
  width: 350px;
  background: #efefef;
  border-radius: 5px;
  position: fixed;
  padding: 60px 40px;
}

.regbox h2 {
  color: #000;
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.regbox label {
  font-size: 16px;
  font-weight: 700;
}

.regbox input {
  width: 330px;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  font-family: Segoe UI;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.regbox button {
  background: #c44f4f;
  border: 0px;
  border-radius: 5px;
  font-weight: 700;
  padding: 10px;
  color: #fff;
  text-align: center;
  width: 100px;
  font-size: 16px;
  margin-top: 10px;
}

.settings {
  width: 740px;
  margin-bottom: 15px;
}

.settings h1 {
  font-size: 40px;
  margin: 0;
}

.settingsbox {
  background: #efefef;
  padding: 15px;
  border-radius: 5px;
  margin-top: 15px;
}

.settingsbox h2 {
  font-size: 20px;
  margin: 0;
}

.settingsbox h3 {
  font-size: 15px;
  margin: 0px;
  font-weight: 400;
  margin-top: 5px;
}

.settingsbox input[type="text"] {
  font-family: Segoe UI;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  width: 690px;
}

.settingsbox input[type="password"] {
  font-family: Segoe UI;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  width: 690px;
}

.settingsbox input[type="email"] {
  font-family: Segoe UI;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  width: 690px;
}

.settingsbox input[type="radio"] {
  margin-top: 15px;
}

.settingsbox button {
  background: #c44f4f;
  border: 0px;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  width: 100px;
  font-size: 15px;
  margin-top: 15px;
}

.settingsbox button:hover {
  cursor: pointer;
  opacity: 90%;
}

.buttonright {
  text-align: right;
}

.followfeed {
  width: 740px;
}

.followfeed h1 {
  font-size: 40px;
  margin: 0;
}

.followfeed h1 a {
  text-decoration: none;
  color: #c44f4f;
}

.followfeed h1 a:hover {
  color: #efefef;
  cursor: pointer;
}

.followerflex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.followbox {
  width: 226px;
  background: #efefef;
  margin-top: 15px;
  border-radius: 5px;
  text-align: center;
}
.followbox .inner {
  padding: 15px;
}
.followEmpty {
  height: 27px;
}

.followbox img {
  width: 171px;
  height: 171px;
  border: 7px solid #c44f4f;
  border-radius: 50%;
  margin-bottom: 5px;
  background-size: cover;
  background-position: center center;
}

.followbox h2 {
  font-size: 18px;
  margin: 0;
  text-align: left;
}

.followbox a {
  text-decoration: none;
  color: #000;
}

.followbox a:hover {
  cursor: pointer;
  color: #c44f4f;
}

.followbox h3 {
  font-size: 15px;
  color: #c44f4f;
  margin: 0;
  text-align: left;
}

.followbox .followingfollowers {
  width: 186px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.followingfollowers a {
  text-decoration: none;
  color: #000;
}

.followingfollowers a:hover {
  cursor: pointer;
}

.followbox .followingfollowers h4 {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
}

.followbox .followingfollowers h5 {
  margin: 0;
  font-size: 20px;
}

.MainYadda {
  width: 740px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
}

.MainYadda .profilePicYadda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.MainYadda .profilePicYadda .thread {
  height: 90%;
  width: 36px;
}

.SubYadda {
  width: 740px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
}

.HighlightYadda {
  width: 740px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  background: #efefef;
  border-radius: 5px;
  border-top: 5px solid #c44f4f;
  border-bottom: 5px solid #c44f4f;
}

.thread {
  width: 33px;
  border-right: 5px solid #c44f4f;
  height: auto;
}

.SubYadda .profilePicYadda {
  margin-top: 5px;
}

.subyaddaBox {
  width: 545px;
  margin-top: 5px;
}

.subyaddaBox .yaddaImg {
  width: 535px;
}

.subyaddaBox .yaddaInfo {
  width: 555px;
}

.subyaddaBox .likesandreplies {
  width: 193px;
}

.mentionsbox {
  width: 250px;
  background: #efefef;
  border-radius: 5px;
  position: fixed;
  padding: 15px 15px;
  padding-bottom: 35px;
}

.mentionsbox div {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mentionsbox h2 {
  margin: 0;
  font-size: 30px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 3px solid #c44f4f;
}

.mentionsbox a {
  color: #c44f4f;
  font-size: 20px;
  margin: 0;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: inline;
  margin-right: 20px;
}

.mentionsbox a:hover {
  color: #c44f4f;
  cursor: pointer;
  border-bottom: 2px solid #c44f4f;
}

#tagDisplay {
  color: #c44f4f;
}

p.message {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: #c54e4f;
  padding: 20px 30px;
  font-size: 30px;
  color: #fff;
  border: 1px solid #d6d6d6;
  box-shadow: 5px 3px 4px 0px #33333359;
  z-index: 100;
  transition: opacity 1s;
}

p.message.hide {
  opacity: 0;
}

.filter {
  text-align: center;
}
.filter .active {
  text-decoration: line-through;
}
.filter a {
  text-decoration: none;
}
.filter a,
.filter .active {
  color: #c54e4f;
  font-weight: bold;
}
.filter p,
.filter a {
  display: inline;
}

.answer a {
  color: #c54e4f !important;
}
.answer a,
.answer p {
  font-style: italic;
  display: inline;
}
