extends layout
block content
  main.mainfront
    .mask
      .happy
    .infofront
      h1
        | Join
        br
        img(src='images/yadda_front.png' alt='yaddayaddayadda')
        br
        span today!
    .infoboxfront
      .infomentions
        .informationbox
          .infoName
            h2 What is YaddaYaddaYadda?
            p
              | YadddaYaddaYadda is the social media platform to share your inner ramblings with a community that wants to hear about your life and whatever your imagination can come up with!
            h2 What can you do?
            p You can connect with people through messages called Yaddas!
            p You can follow people you find interesting!
            p Post pictures and gifs of your favourite funny memes and share them with tags!
            h2 How do you join?
            p Go to the registration page and begin your adventure into the world of Yaddas!
            a(href='register.html') Join
