extends layout
block content
  -console.log(users)
  main.mainpage
    section.profilementions
      .profilebox
        .pPicture
          img(src='/../images/placeholder.jpg')
        .profileName
          h2 Bailey Johnson
          h3 @baileydrinks
        .followingfollowers
          .following
            h4 Following
            h5 731
          .followers
            h4 Followers
            h5 121
    section.feed
      include partials/search
      include partials/addYadda
      include partials/feed
      include partials/yaddaSponsored
  


