extends layout
block content
  -console.log(users)
  main.mainpage
    section.profilementions
      include partials/profileBox
            
    section.feed
      include partials/feed
      include partials/yaddaSponsored
  


