block content
    form(method='POST' action='/yadda')
        textarea(placeholder='Whats on your mind?' name='text')
        input#tags(placeholder='Add tags' name='tags' type='text')
        p#tagDisplay
        
        button.btn.btn-primary(type='submit') Add yadda 
    