block content
    .writingYadda
        form(action='/yadda' method='POST')
          .writingYaddaInner
            textarea(name='text' rows='8' cols='80' placeholder='Whats on your mind?')
          .tagsandsend
            .addtags
              input#tags(type='text' name='tags' value='' placeholder='+ add tags')
            .postYadda
              a(href='#')
                img(src='/../images/post.png' alt='')
              button(type='submit' name='button') Post Yadda
          p#tagDisplay

  
    //- form(method='POST' action='/yadda')
    //-     textarea(placeholder='Whats on your mind?' name='text')
    //-     input#tags(placeholder='Add tags' name='tags' type='text')
    //-     p#tagDisplay
        
    //-     button.btn.btn-primary(type='submit') Add yadda 
     