block content
    include messages
    form(method='POST' action='/yadda')
        textarea#email.form-control(placeholder='Whats on your mind?' name='text')
        div.form-group
        button.btn.btn-primary(type='submit') Add yadda 
    