block content
    if yaddas.length
        each yadda in yaddas
            include yadda
    else if users.length
        each user in users
            include user
    else
        if search 
            p No results 
        else   
            p No yaddas

         
    