block content
    form#searchForm(name='search')
        select
            option(value="tag") tag
            option(value="user") user
        input(name='search' type='search')
        
        button#search(type='submit') Search 
    