block content
    .searchbar
        form
          #searchForm.writingSearch
            //- div #
            input(type='checkbox' name='searchType'  class="hidden" id="searchType")
            label(for='searchType')
            input(type='search' name='search' value='' placeholder='Type...')
            button#search(type='submit') Search 


    //- form#searchForm(name='search')
    //-     select
    //-         option(value="tag") tag
    //-         option(value="user") user
    //-     input(name='search' type='search')
        
    //-     button#search(type='submit') Search 
    