.Yadda
        .profilePicYadda
          img(src='../images/profile.jpg' alt='')
        .yaddaBox
          .yaddaUser
            a(href='#')
              h2
                = yadda.user.firstname + " " + yadda.user.lastname
            h3 
              = "@" + yadda.user.username
          .yaddaText
            p
              = yadda.text
          if yadda.image
            img.yaddaImg(src='../images/doggo.gif' alt='')

          each tag in yadda.tags
            .yaddaTags
              a(href='#')
                span 
                  = "#" + tag

          .yaddaInfo
            .likesandreplies
              div
                img(src='../images/heart.png')
                h3 Likes (4)
              div
                img(src='../images/reply.png')
                h3 Replies (2)
            .yaddaDate
              h3 2 May 2020 - 10:32PM
<hr>