.sponsoredYadda
        .profilePicYadda
          img(src='../images/lego.jpg' alt='')
        .yaddaBox
          .yaddaUser
            a(href='#')
              h2 The Lego Company
            span (sponsored)
            h3 @lego
          .yaddaText
            p
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus ex, luctus convallis ornare rutrum, iaculis nec mauris. Donec ligula tellus, imperdiet nec amet.
          a(href='#')
            img.yaddaImg(src='../images/legos.jpg' alt='')
          .yaddaTags
            a(href='#')
              span #supermario
            a(href='#')
              span #lego
            a(href='#')
              span #nintendo
            a(href='#')
              span #ad
          .yaddaInfo
            .likesandreplies
              div
                img(src='../images/heart.png')
                h3 Likes (4)
              div
                img(src='../images/reply.png')
                h3 Replies (2)