.Yadda
        .profilePicYadda
          img(src='/../images/profile.jpg' alt='')
        .yaddaBox
          .yaddaUser
            a(href='#')
              h2
                = yadda.user.firstname + " " + yadda.user.lastname
            h3 
              = "@" + yadda.user.username
          .yaddaText
            p
              = yadda.text
          if yadda.image
            img.yaddaImg(src=`https://res.cloudinary.com/kuko/w_600/${yadda.image}` alt='')

          each tag in yadda.tags
            .yaddaTags
              a(href='/search/tag/' + tag)
                span 
                  = "#" + tag

          .yaddaInfo
            .likesandreplies
              div
                if yadda.likes.includes(userId)
                  img.like(src='/../images/heart.png')
                else
                  img.like(src='/../images/heart2.png')
            
                h3.like
                  = "Likes (" + yadda.likes.length+ ")"
              div
                img(src='/../images/reply.png')
                h3 Replies (2)
              input(type="hidden" value=yadda._id)
            .yaddaDate
              h3 
                = yadda.dateFormatted

<hr>